<body style="background-color:teal;">
    <h4>Uh oh!! You're search was just tooo spicey! We couldn't find anything!</h4>
    <h5>Maybe there's something milder you would settle for?</h5>
    <div class="text-lg-center">

        <form action="../SpiceyRecipe/ConstructEndpoint" method="post">
            <input type="text" name="querry" placeholder="Search Recipe" /><br />
            <input type="submit" name="Search" />
        </form>
        <a href="../Home/AdvancedSearch" class="btn-danger">Search including Ingredients!</a>
    </div>
    <br />
    <h4>View saved favorite's</h4>
    <a href="../Favorite/Index" class="btn btn-success">Favorites</a>



</body>