@{
    ViewData["Title"] = "Favorite Results";
}
<html>
@model UserFavoriteVM
<body style="background-color:teal;">
    @if (Model.favorites.Count != 0)
    {
        <h1 class="display-4">Here are your favorites!</h1>
        <a href="../SpiceyRecipe" class="btn-danger">Add more to favorites!</a>
    }
    else
    {
        <h1 class="display-4">You have no favorites! Let's Spice up your life!</h1><br />
        <a href="../SpiceyRecipe" class="btn-danger">Add more to favorites!</a><br />
        <img src="https://media.istockphoto.com/vectors/chili-peppers-vector-id103975464?k=6&m=103975464&s=612x612&w=0&h=9GRLQUCdprMagm0EK01iRpFr_jn53AmHQ4fc-3N2SVU=" />
    }

    <p></p>
</body>
</html>

<form action="../SpiceyRecipe/FavoriteList?result=@Model" method="post">


    @for (int i = 0; i < Model.favorites.Count; i++)
    {

        <table class="table table-hover table-info">
            <tr class="thead-dark">

                <td scope="col">"@Model.favorites[i].Title"<br /></td>

                <td scope="col"><img src="@Model.favorites[i].Thumbnail" /><br /> </td>

                <td scope="col">The ingredients are: @Model.favorites[i].Ingredients</td>
                <td scope="col"><a href="@Model.favorites[i].RecipeLink" target="_blank" rel="noopener noreferrer">Find the recipe here</a></td>
                <td>
                    <a href="../Favorite/DeleteFavorite?favoriteid=@Model.favorites[i].Id" class="btn btn-danger">Delete favorite?</a>
                </td>
            </tr>
        </table>
    }
</form>
