@{
    ViewData["Title"] = "Favorite Results";
}
<html>
<body style="background-color:teal;">
    <h1 class="display-4">Here are your favorites!</h1>
    <p></p>
</body>
</html>
@model UserFavoriteVM
<form action="../SpiceyRecipe/FavoriteList?result=@Model" method="post">


    @for (int i = 0; i < Model.favorites.Count; i++)
    {
       
        <table class="table table-hover table-info">
            <tr class="thead-dark">
                
                <td scope="col">"@Model.favorites[i].Title"<br /></td>

                <td scope="col"><img src="@Model.favorites[i].Thumbnail" /><br /> </td>

                <td scope="col">The ingredients are: @Model.favorites[i].Ingredients</td>
                <td scope="col"><a href="@Model.favorites[i].RecipeLink">Find the recipe here</a></td>
                <td>
                        <a href="../Favorite/DeleteFavorite?favoriteid=@Model.favorites[i].Id" class="btn btn-danger">Delete favorite?</a>
                </td>
            </tr>
        </table>
    }
</form>
