
@{
    ViewData["Title"] = "AdvancedSearch";
}


@model AdvancedSearchModel
@*@Model.results[0].title
    <img src="@Model.results[0].thumbnail" />*@

<body style="background-color:teal;">
    <h4>Looking for a recipe?</h4>
    <div class="text-lg-center">

        <form action="../SpiceyRecipe/ConstructEndpoint" method="post">
            Recipe: &nbsp; <input type="text" name="querry" placeholder="Search Recipe" /><br />
            Ingredient 1: &nbsp; <input type="text" name="ingredient1" placeholder="Enter an Ingredient!" />
            Ingredient 2: &nbsp; <input type="text" name="ingredient2" placeholder="Enter an Ingredient!" />
            Ingredient 3: &nbsp;  <input type="text" name="ingredient3" placeholder="Enter an Ingredient!" /><input type="submit" name="Search" /><br />
        </form>

    </div>
    <br />
    <h4>View saved favorite's</h4>
    <a href="../Favorite/Index" class="btn btn-success">Favorites</a>



</body>