
@{
    ViewData["Title"] = "AdvancedSearch";
}


@model AdvancedSearchModel


<body style="background-color:teal;">
    <h4>Looking for a recipe?</h4>
    <div class="text-lg-center" style="border-color:black">

        <form action="../SpiceyRecipe/ConstructEndpoint" method="post">

            <label>Recipe: &nbsp;</label>  <input type="text" name="querry" placeholder="Search Recipe"/><br />
            <label>Ingredient 1: &nbsp;</label> <input type="text" name="ingredient1" placeholder="Enter an Ingredient!"/><br />
            <lable>Ingredient 2: &nbsp;</lable> <input type="text" name="ingredient2" placeholder="Enter an Ingredient!"/><br />
            <label>Ingredient 3: &nbsp;</label> <input type="text" name="ingredient3" placeholder="Enter an Ingredient!"/>
            <input type="submit" name="Search" />
        </form>

    </div>
    <br />
    <h4>View saved favorite's</h4>
    <a href="../Favorite/Index" class="btn btn-success">Favorites</a>



</body>