
@{
    ViewData["Title"] = "Index";
}

<body style="background-color:teal;">
    <h1 class="text-center">Welcome to the Spicey Recipe Manager!</h1>
    <h3 class="text-center">Please Log in or register to season your palate!</h3>
    <br />
    <div class="text-center">
        <a href="../Identity/Account/Register" class="btn-dark">Register</a> &nbsp;<a href="../Identity/Account/Login" class="btn-dark">Log In</a><br /><br />
        <img src="https://media.istockphoto.com/vectors/chili-peppers-vector-id103975464?k=6&m=103975464&s=612x612&w=0&h=9GRLQUCdprMagm0EK01iRpFr_jn53AmHQ4fc-3N2SVU=" class="initialism" />
    </div>
</body>