@{
    ViewData["Title"] = "Home Page";
}


    <body style="background-color:teal;">
        <h2>Looking for a recipe?</h2> 
        <div class="text-lg">

            <form action="../SpiceyRecipe/ConstructEndpoint" method="post">
                <input type="text" name="querry" placeholder="Search Recipe" /><br />
                <input type="submit" value="Search" /><br>
                <a href="../Home/AdvancedSearch" class="btn btn-danger">Search including Ingredients!</a><br />
                <br />
            </form>

        </div>
        <br />
        <h2>View saved favorite's</h2>
        <div class="text-lg">

            <a href="../Favorite/Index" class="btn btn-success">Favorites</a>
        </div>
        



        </body>